<template>
  <div class="home-page">
    <div class="home-page__content">
      <slot />
    </div>
    <div class="home-page__bottom">
      <slot name="bottom" />
    </div>
  </div>
</template>

<style lang="scss">
@import '@/assets/styles';

.home-page {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.65)),
    url('https://dat.myshelf.info/inbox/static/media/bgnew.d5ad52ab.jpg');
  background-size: cover;
  background-position: 50% 50%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0)
    env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
  position: absolute;
  right: 0;
  top: 0;

  &__content {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 104;
  }

  &__bottom {
    padding: 0 16px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 104;
    color: white;
  }
}
</style>
