<template>
  <page class="claim-page">
    <google-map
      v-if="claimStore.claim.location"
      :api-key="API_KEY"
      style="width: 100%; height: 400px"
      :center="center"
      :zoom="13"
    >
      <Marker
        v-if="claimStore.claim.location"
        :options="{
          icon: 'https://svgshare.com/i/WdB.svg',
          position: center
        }"
      />
    </google-map>
    <el-loading v-else></el-loading>
    <div class="claim-page__content"></div>
  </page>
</template>

<script lang="ts" setup>
// Libs
import { useRoute } from 'vue-router'
import { GoogleMap, Marker } from 'vue3-google-map'

// Stores
import { useClaimStore } from '@/stores'
import { computed } from 'vue-demi'

const { params } = useRoute()

const claimStore = useClaimStore()
claimStore.fetchClaim(params.id as string)

const API_KEY = import.meta.env.VITE_GOOGLE_API_KEY

const center = computed(() => {
  const {
    location: { lat, long }
  } = claimStore.claim
  return {
    lat,
    lng: long
  }
})
</script>

<style lang="scss">
@import '@/assets/styles';
.claim-page {
  &__content {
    background: white;
    border-top-left-radius: $spacing-s;
    border-top-right-radius: $spacing-s;
  }
}
</style>
