<template>
  <page-auth>
    <div class="info">
      <img
        class="logo"
        src="https://dat.myshelf.info/inbox/static/media/newLogo.0c8cc93f.png"
      />
    </div>
    <template #bottom>
      <dat-button @click="push({ name: 'login' })">Start</dat-button>
      <p>* use your professional data account</p>
    </template>
  </page-auth>
</template>

<script lang="ts" setup>
import DatButton from '@/components/Button.vue'
import PageAuth from '@/components/layout/NonAuthPage.vue'

import { useRouter } from 'vue-router'

const { push } = useRouter()
</script>

<style lang="scss">
@import '@/assets/styles';

.home-page {
  &__content {
    .info {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;

      h2 {
        color: $color-white;
      }
    }

    .logo {
      width: 20%;
    }
  }

  &__bottom {
    & > button {
      margin-bottom: 4px;
    }

    p {
      margin-top: 0;
    }
  }
}
</style>
