<template>
  <page-auth>
    <div class="login-page">
      <div class="login-page__form">
        <heading>Login</heading>
        <form @submit.prevent="handleLogin">
          <dat-input
            name="user"
            placeholder="Username"
            v-model="authForm.user"
            mask="#######:X*"
          />
          <dat-input
            name="password"
            placeholder="Password"
            v-model="authForm.password"
            type="password"
          />
          <dat-button type="submit">Log in</dat-button>
          <el-alert
            class="alert"
            v-if="authStore.errorMessage"
            title="Error"
            type="error"
            effect="dark"
          >
            {{ authStore.errorMessage?.message }}
          </el-alert>
        </form>
      </div>
    </div>
  </page-auth>
</template>

<script lang="ts" setup>
import { reactive } from '@vue/reactivity'
import { useRouter } from 'vue-router'

// Components
import DatButton from '@/components/Button.vue'
import DatInput from '@/components/Input.vue'
import Heading from '@/components/Heading.vue'
import PageAuth from '@/components/layout/NonAuthPage.vue'

// Stores
import { useAuthStore } from '@/stores'

const authStore = useAuthStore()
const { push } = useRouter()

const authForm = reactive<DAT.AuthForm>({
  password: '',
  customerNumber: '',
  user: ''
})

const handleLogin = async () => {
  const [customerNumber, user] = authForm.user.split(':')
  await authStore.login({
    ...authForm,
    customerNumber,
    user
  })
  if (authStore.token) {
    push('/track')
  }
}
</script>

<style lang="scss">
.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    max-width: 360px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 0px 10px;

    form {
      width: 100%;
    }

    .alert {
      margin-top: 8px;
    }
  }
}
</style>
