<template>
  <page class="track-page">
    <template #top>
      Tracker
    </template>
    <div class="track-page__content">
      <div class="user-block">
        <el-avatar shape="square" :size="100" :src="userStore.avatar" />
        <heading
          >{{ userStore.profile.firstName }}
          {{ userStore.profile.lastName }}</heading
        >
        <small>
          <i class="el-icon-location" />{{ coords.latitude.toFixed(2) }} -
          {{ coords.longitude.toFixed(2) }}
        </small>
      </div>
      <hr />
      <div class="track-page__content-list">
        <span tag="span" v-if="claimStore.activeClaims.length">Active:</span>
        <claim-card
          v-if="claimStore.claims"
          v-for="{
            _id,
            plateNo,
            status,
            title,
            image
          } in claimStore.activeClaims"
          :key="_id"
          :image="image"
          :title="title"
          :plate-no="plateNo"
          :status="status"
          @click="push({ name: 'claim-detail', params: { id: _id } })"
        />
        <el-divider />
        <span tag="span" v-if="claimStore.history.length">History:</span>
        <claim-card
          v-if="claimStore.claims"
          v-for="{ _id, plateNo, status, title, image } in claimStore.history"
          :key="_id"
          :image="image"
          :title="title"
          :plate-no="plateNo"
          :status="status"
          @click="push({ name: 'claim-detail', params: { id: _id } })"
        />
      </div>
      <div v-if="!claimStore.claims.length">
        <el-tag type="danger">Claims not assigned yet</el-tag>
      </div>
    </div>
  </page>
</template>

<script lang="ts" setup>
import Heading from '@/components/Heading.vue'
import ClaimCard from '@/components/UserCard.vue'

import { useGeolocation } from '@vueuse/core'
import { useRouter } from 'vue-router'

// Stores
import { useClaimStore, useUserStore } from '@/stores'

const userStore = useUserStore()
const claimStore = useClaimStore()

claimStore.fetchClaims()

const { coords } = useGeolocation()
const { push } = useRouter()

userStore.sendPosition(coords)

setInterval(() => {
  userStore.sendPosition(coords)
}, 10000)
</script>

<style lang="scss">
@import '@/assets/styles';

.track-page {
  &__content {
    padding: $spacing-m;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    &-list {
      text-align: left;
      width: 100%;
    }
  }
  &__avatar {
  }

  .el-avatar > img {
    width: 100%;
  }
}
</style>
