<template>
  <component
    :is="tag"
    :type="type"
    :disabled="disabled"
    v-bind="$attrs"
    :class="{
      'cursor-not-allowed': disabled,
      small: size === 'small',
      primary: variant === 'primary',
      gray: variant === 'gray',
      empty: variant === 'empty'
    }"
    :variant="variant"
    :variant-type="variantType"
    :size="size"
    :href="to"
    class="tg-btn"
    @click="$emit('onClick')"
  >
    <slot />
  </component>
</template>

<script setup lang="ts">
import { defineProps } from 'vue'

defineProps({
  size: {
    type: String,
    default: 'medium'
  },
  tag: {
    type: String,
    default: 'button'
  },
  disabled: {
    type: Boolean,
    default: false
  },
  variant: {
    type: String,
    default: 'primary'
  },
  variantType: {
    type: String,
    default: 'normal'
  },
  type: {
    type: String,
    default: ''
  },
  to: {
    type: String
  }
})
</script>

<style lang="scss" scoped>
@import '@/assets/styles';

.tg-btn {
  padding: $spacing-m;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: none;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-size: $font-size-heading-h4-small;
  transition: 0.2s;

  &:disabled {
    background: gray;
    color: white;
  }

  .small {
  }
  .medium {
  }
  .large {
  }
}

.empty {
  justify-content: center;
  background: none;
  color: white;
  border: 2px solid $color-primary;

  &:active {
    background: $color-primary;
  }
}
.gray {
  justify-content: left;
  color: $color-dark;
  background: $color-gray;

  &:active {
    background: $color-dark;
  }
}
.primary {
  justify-content: center;
  background: $color-primary;
  color: $color-white;

  &:active {
    background: $color-dark;
  }
}
</style>
