<template>
  <div class="tg-input">
    <input
      v-if="!mask"
      class="input"
      :placeholder="placeholder"
      :name="name"
      :value="modelValue"
      :type="type"
      @input="handleUpdate"
    />

    <input
      v-else
      class="input"
      :placeholder="placeholder"
      :name="name"
      :value="modelValue"
      :type="type"
      @input="handleUpdate"
      v-maska="mask"
    />
  </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmit } from 'vue'

const onInput = defineEmit(['update:modelValue'])

const handleUpdate = (e: any) => {
  const value = (e.target as HTMLInputElement).value
  onInput('update:modelValue', value)
}

defineProps({
  placeholder: {
    type: String,
    default: ''
  },
  mask: {
    type: String,
    default: ''
  },
  type: {
    type: String,
    default: 'text'
  },
  name: {
    type: String,
    default: ''
  },
  modelValue: {
    type: [String, Number],
    default: ''
  }
})
</script>

<style scoped lang="scss">
@import '@/assets/styles';
.tg-input {
  margin: 10px 0;
  width: 100%;
  .input {
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
    background-color: #f1f2f4;
    border: none;
    height: 48px;
    min-width: 100%;
    padding-left: 15px;
    font-family: 'Nunito';
    font-size: 18px;
    color: #465064;
  }
}
</style>
