$font-size-tiny: 12px !default;
$font-size-small: 14px !default;
$font-size-default: 16px !default;

$font-size-heading-h1: 42px !default;
$font-size-heading-h1-small: 32px !default;
$font-size-heading-h2: 36px !default;
$font-size-heading-h2-small: 28px !default;
$font-size-heading-h3: 30px !default;
$font-size-heading-h3-small: 22px !default;
$font-size-heading-h4: 24px !default;
$font-size-heading-h4-small: 18px !default;
$font-size-heading-h5: 18px !default;
$font-size-heading-h5-small: 16px !default;
$font-size-heading-h6: 16px !default;
$font-size-heading-h6-small: 14px !default;

$line-height-tiny: 18px !default;
$line-height-small: 20px !default;
$line-height-default: 22px !default;

$line-height-heading-h1: 48px !default;
$line-height-heading-h1-small: 38px !default;
$line-height-heading-h2: 42px !default;
$line-height-heading-h2-small: 34px !default;
$line-height-heading-h3: 35px !default;
$line-height-heading-h3-small: 28px !default;
$line-height-heading-h4: 30px !default;
$line-height-heading-h4-small: 24px !default;
$line-height-heading-h5: 24px !default;
$line-height-heading-h5-small: 22px !default;
$line-height-heading-h6: 22px !default;
$line-height-heading-h6-small: 20px !default;

$font-family-sans-serif: 'Nunito', sans-serif !default;
$font-family-script: 'Kalam', script !default;

$font-family-text: $font-family-sans-serif !default;
$font-family-headings: $font-family-sans-serif !default;
